.content {
    background-color: white;
    padding: 1rem;
    width: 60%;
    margin: 2rem;
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 20% 70% 10%;
}
.content p {
    color: black;
}
.content .bodytext {
    padding: .5rem;
    padding-right: 1rem;
    display: block;
    grid-row: 2;
    font-size: 16px;
}
.content .titletext {
    grid-row: 1;
    padding: .5rem;
    font-size: 2rem;
    font-weight: 600;
    width: fit-content;
    display: inline-block;
}
.content .contentimage {
    grid-row: 2;
    grid-column: 2;
}
.content .mainimage {
    display: inline;
    width: 100%;
    position: relative;
}
.content .smallimage {
    z-index: 3;
    width: 4rem;
    position: relative;
    bottom: 4.5rem;
    padding-left: .5rem;
}
.content .bodytext a {
    color: initial;
}
.content .link {
    grid-row: 3;
    text-align: center;
}
.content .link a {
    color: black;
    text-align: center;
}
@media screen and (max-width: 535px) {
    .content {
        grid-template-columns: 100%;
        grid-template-rows: 10% 40% 5% 45%;
        width: 95%;
    }
    .content .bodytext {
        grid-row: 2;
        grid-column: 1;
    }
    .content .titletext {
        grid-row: 1;
        grid-column: 1;
    }
    .content .contentimage {
        margin-top: 2rem;
        grid-row: 4;
        grid-column: 1;
    }
    .content .link {
        grid-row: 3;
    }
}
@media screen and (max-width: 1035px) {
    .content {
        grid-template-columns: 100%;
        grid-template-rows: 10% 20% 5% 65%;
    }
    .content .bodytext {
        grid-row: 2;
        grid-column: 1;
    }
    .content .titletext {
        grid-row: 1;
        grid-column: 1;
    }
    .content .contentimage {
        margin-top: 2rem;
        grid-row: 4;
        grid-column: 1;
    }
    .content .link {
        grid-row: 3;
    }
}
