body {
  height: 100vh;
  background-color: coral;
  background-image: url('tor_red_left_background.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  width: auto;
}
#title {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: 300;
}

.footer {
  background-color: dimgray;
  width: 100vw;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: white;
  padding: 0;
  margin: 0;
}
