/*Copyright Tor Smedberg 2020*/
body {
  height: 100vh;
  background-color: coral;
  background-image: url('/images/tor_red_left_background.svg'), url('/images/tor_red_right_background.svg');
  background-repeat: no-repeat, no-repeat;
  background-position-x: left, right;
  background-attachment: fixed, fixed;
  background-position: 0 0, 100% 100%;
  background-size: cover, cover;
  padding: 0;
  margin: 0;
  width: auto;
}
#title {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: 300;
}

.footer {
  background-color: dimgray;
  width: 100vw;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: white;
  padding: 0;
  margin: 0;
  position: absolute;
}
.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.child {
  /*Commented out for now, because otherwise github link becomes too large.*/
  /*flex: 0 1 150px;*/
}
#quick-links {
  background-color: dimgray;
  width: 100vw;
  font-family: 'Ubuntu Mono', monospace;
  color: white;
  padding: 0;
  margin: 0;
}
.navbar {
  align-items: center;
  background-color: orangered;
  width: 100%;
  color: white;
  /*padding-bottom: 10px;
  padding-top: 10px;*/
  height: 0px;
  box-shadow: black 5px 0px 5px;
}
.navbar ul {
  list-style-type: none;
  position: absolute;
  left: 30px;
  top: -69px;
  margin-top: 10px;
}
.navbar li {
  margin: 20px;
  display: inline;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.navbar a {
  text-decoration: none;
  color: white;
}
.navbar #navbarbutton {
  border: none;
  background: #00000000;
  cursor: pointer;
}
@keyframes navbarExpand {
  from {
    height: 0px;
  }
  to {
    height: 69px;
  }
}
@keyframes navbarContract {
  from {
    height: 69px;
    
  }
  to {
    height: 0px;
  }
}

@keyframes navbarListExpand {
  from {
    top: -35px
  }
  to {
    top:13px;
  }
}
@keyframes navbarListContract {
  from {
    top:13px;
    
  }
  to {
    top:-35px;
  }
}