body {
  height: 100vh;
  background-color: coral;
}
#title {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: 300;
}

.footer {
  background-color: dimgray;
  width: 100vw;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 400;
  font-style: italic;
  padding: 0;
  margin: 0;
  
}
